In [54]:
import pandas as pd
from catboost import CatBoostClassifier, Pool
from sklearn.model_selection import train_test_split

In [55]:
data = pd.read_csv("data/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
print("Labels:{}".format(set(data['Survived'])))
print("Zero count = {}, One count = {}".format(len(data['Survived']) - sum(data['Survived']),sum(data['Survived']))) # исследуем таргет на дисбаланс

Labels:{0, 1}
Zero count = 549, One count = 342

In [57]:
columns = ["Survived", "Pclass", "Sex", "Age"]

df_train, df_test = train_test_split(data[columns], train_size=0.8, random_state=0, stratify=data["Survived"]) # stratify тречит и схораняет пропорции
X_train, Y_train = df_train.drop('Survived', axis=1), df_train['Survived']
X_test, Y_test = df_test.drop('Survived', axis=1), df_test["Survived"]
X_test.head()

     Pclass     Sex   Age
153       3    male  40.5
752       3    male  33.0
610       3  female  39.0
200       3    male  28.0
310       1  female  24.0

In [58]:
categorial_features = ['Pclass', 'Sex'] # определяем категориальные признаки


train_pool = Pool(data=X_train, label=Y_train, cat_features=categorial_features)
test_pool = Pool(data=X_test, label=Y_test, cat_features=categorial_features)

In [59]:
model = CatBoostClassifier(iterations=1000, 
                           learning_rate=0.01,
                           use_best_model=True,
                           eval_metric="Accuracy",
                           early_stopping_rounds=50,
                           )
model.fit(X_train, Y_train, cat_features=categorial_features, eval_set=(X_test, Y_test), verbose=True)

0:	learn: 0.7991573	test: 0.7877095	best: 0.7877095 (0)	total: 21.3ms	remaining: 21.2s
1:	learn: 0.7991573	test: 0.7877095	best: 0.7877095 (0)	total: 42.7ms	remaining: 21.3s
2:	learn: 0.8202247	test: 0.7765363	best: 0.7877095 (0)	total: 64.7ms	remaining: 21.5s
3:	learn: 0.8174157	test: 0.7709497	best: 0.7877095 (0)	total: 76.5ms	remaining: 19s
4:	learn: 0.8174157	test: 0.7709497	best: 0.7877095 (0)	total: 89.7ms	remaining: 17.9s
5:	learn: 0.8047753	test: 0.7709497	best: 0.7877095 (0)	total: 112ms	remaining: 18.5s
6:	learn: 0.8061798	test: 0.7709497	best: 0.7877095 (0)	total: 133ms	remaining: 18.9s
7:	learn: 0.8061798	test: 0.7709497	best: 0.7877095 (0)	total: 144ms	remaining: 17.8s
8:	learn: 0.8061798	test: 0.7709497	best: 0.7877095 (0)	total: 163ms	remaining: 17.9s
9:	learn: 0.8061798	test: 0.7709497	best: 0.7877095 (0)	total: 182ms	remaining: 18s
10:	learn: 0.8061798	test: 0.7709497	best: 0.7877095 (0)	total: 196ms	remaining: 17.6s
11:	learn: 0.8075843	test: 0.7709497	best: 0.7877095 (0)	total: 211ms	remaining: 17.4s
12:	learn: 0.7977528	test: 0.7932961	best: 0.7932961 (12)	total: 222ms	remaining: 16.8s
13:	learn: 0.7977528	test: 0.7932961	best: 0.7932961 (12)	total: 238ms	remaining: 16.8s
14:	learn: 0.8033708	test: 0.7765363	best: 0.7932961 (12)	total: 249ms	remaining: 16.3s
15:	learn: 0.8089888	test: 0.7709497	best: 0.7932961 (12)	total: 269ms	remaining: 16.6s
16:	learn: 0.8089888	test: 0.7709497	best: 0.7932961 (12)	total: 290ms	remaining: 16.8s
17:	learn: 0.8061798	test: 0.7765363	best: 0.7932961 (12)	total: 317ms	remaining: 17.3s
18:	learn: 0.8047753	test: 0.7765363	best: 0.7932961 (12)	total: 336ms	remaining: 17.4s
19:	learn: 0.8047753	test: 0.7765363	best: 0.7932961 (12)	total: 351ms	remaining: 17.2s
20:	learn: 0.8061798	test: 0.7709497	best: 0.7932961 (12)	total: 378ms	remaining: 17.6s
21:	learn: 0.8089888	test: 0.7597765	best: 0.7932961 (12)	total: 405ms	remaining: 18s
22:	learn: 0.8089888	test: 0.7597765	best: 0.7932961 (12)	total: 431ms	remaining: 18.3s
23:	learn: 0.8061798	test: 0.7597765	best: 0.7932961 (12)	total: 450ms	remaining: 18.3s
24:	learn: 0.8061798	test: 0.7597765	best: 0.7932961 (12)	total: 467ms	remaining: 18.2s
25:	learn: 0.8019663	test: 0.7765363	best: 0.7932961 (12)	total: 491ms	remaining: 18.4s
26:	learn: 0.8019663	test: 0.7821229	best: 0.7932961 (12)	total: 526ms	remaining: 19s
27:	learn: 0.8047753	test: 0.8044693	best: 0.8044693 (27)	total: 534ms	remaining: 18.5s
28:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 542ms	remaining: 18.1s
29:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 561ms	remaining: 18.1s
30:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 582ms	remaining: 18.2s
31:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 595ms	remaining: 18s
32:	learn: 0.8033708	test: 0.7988827	best: 0.8044693 (27)	total: 616ms	remaining: 18s
33:	learn: 0.8047753	test: 0.8044693	best: 0.8044693 (27)	total: 636ms	remaining: 18.1s
34:	learn: 0.8047753	test: 0.8044693	best: 0.8044693 (27)	total: 657ms	remaining: 18.1s
35:	learn: 0.8033708	test: 0.7988827	best: 0.8044693 (27)	total: 668ms	remaining: 17.9s
36:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 676ms	remaining: 17.6s
37:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 705ms	remaining: 17.8s
38:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 719ms	remaining: 17.7s
39:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 740ms	remaining: 17.7s
40:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 763ms	remaining: 17.8s
41:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 778ms	remaining: 17.8s
42:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 789ms	remaining: 17.6s
43:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 813ms	remaining: 17.7s
44:	learn: 0.8033708	test: 0.7988827	best: 0.8044693 (27)	total: 827ms	remaining: 17.5s
45:	learn: 0.8033708	test: 0.7988827	best: 0.8044693 (27)	total: 848ms	remaining: 17.6s
46:	learn: 0.8019663	test: 0.7988827	best: 0.8044693 (27)	total: 867ms	remaining: 17.6s
47:	learn: 0.8019663	test: 0.7988827	best: 0.8044693 (27)	total: 877ms	remaining: 17.4s
48:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 887ms	remaining: 17.2s
49:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 906ms	remaining: 17.2s
50:	learn: 0.8019663	test: 0.7988827	best: 0.8044693 (27)	total: 925ms	remaining: 17.2s
51:	learn: 0.8019663	test: 0.7988827	best: 0.8044693 (27)	total: 935ms	remaining: 17s
52:	learn: 0.8019663	test: 0.8044693	best: 0.8044693 (27)	total: 945ms	remaining: 16.9s
53:	learn: 0.8019663	test: 0.7988827	best: 0.8044693 (27)	total: 964ms	remaining: 16.9s
54:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 971ms	remaining: 16.7s
55:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 985ms	remaining: 16.6s
56:	learn: 0.7977528	test: 0.7932961	best: 0.8044693 (27)	total: 995ms	remaining: 16.5s
57:	learn: 0.7963483	test: 0.7932961	best: 0.8044693 (27)	total: 1.02s	remaining: 16.5s
58:	learn: 0.7963483	test: 0.7932961	best: 0.8044693 (27)	total: 1.04s	remaining: 16.6s
59:	learn: 0.7963483	test: 0.7932961	best: 0.8044693 (27)	total: 1.05s	remaining: 16.5s
60:	learn: 0.7963483	test: 0.7932961	best: 0.8044693 (27)	total: 1.08s	remaining: 16.7s
61:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.12s	remaining: 16.9s
62:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.14s	remaining: 17s
63:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.17s	remaining: 17.1s
64:	learn: 0.8075843	test: 0.7932961	best: 0.8044693 (27)	total: 1.19s	remaining: 17.1s
65:	learn: 0.8075843	test: 0.7932961	best: 0.8044693 (27)	total: 1.21s	remaining: 17.1s
66:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.22s	remaining: 17s
67:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.25s	remaining: 17.1s
68:	learn: 0.8047753	test: 0.8044693	best: 0.8044693 (27)	total: 1.26s	remaining: 17s
69:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.29s	remaining: 17.1s
70:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.3s	remaining: 17.1s
71:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.33s	remaining: 17.1s
72:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.35s	remaining: 17.1s
73:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.36s	remaining: 17s
74:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.37s	remaining: 16.9s
75:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.39s	remaining: 16.9s
76:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.4s	remaining: 16.7s
77:	learn: 0.8033708	test: 0.8044693	best: 0.8044693 (27)	total: 1.42s	remaining: 16.8s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.8044692737
bestIteration = 27

Shrink model to first 28 iterations.

In [60]:
data_test = pd.read_csv("data/test.csv")
columns_test = ["Pclass", "Sex", "Age"]

In [61]:
newdf = pd.DataFrame(data_test['PassengerId'])
newdf['Survived'] = model.predict(data_test[columns_test])
newdf.to_csv("solution.csv", index=False)